<div class="lpd-container">
    <div *ngIf="error">
        {{error}}
        <a href="" [routerLink]="['/dashboard']">Goto dashboard</a>
    </div>
    <div *ngIf="!error">
        <div class="lpd-board-cont">
            <h1>
                {{board.name}}
            </h1>
            <input type="text" id="laneName" [(ngModel)]="laneName" />
            <button (click)="laneName && addLane(laneName)" [disabled]="!laneName">Add Lane</button>
        </div>
        <div class="lpd-taskLists">    
            <task-list 
                *ngFor="let taskList of board.taskLists" 
                [title]="taskList"
                [board]="board.id"
                (taskCreated)="taskCreated()">
            </task-list>
        </div>
    </div>
</div>