<div>
    <div class="lpd-list-title">    
        <div>
            {{title}}
        </div>
        <div>
            <button (click)="addTask()">Add Task</button>
        </div>
    </div>
    <div class="lpd-list">
        <task *ngFor="let task of tasks" [data]="task" (taskDeleted)="taskDeleted()">loading...</task>
    </div>
    <div *ngIf="newTaskInProgress">
        <input type="text" [(ngModel)]="taskName" (blur)="newTaskInProgress && createTask(taskName)"/>
        <button (click)="newTaskInProgress = false" >Close</button>
    </div>
</div>